/* Header
------------------------------------------------------------*/

.c-header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;

  &_container {
    position: absolute;
    top: 35px;
    right: 40px;
    width: auto;
    display: flex;
    justify-content: flex-end;

    @include maxW(1023px) {
      top: 20px;
      right: 20px;
    }
  }

  &_right {
    display: flex;
    gap: 45px;

    li,
    a {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.7rem;
      letter-spacing: 0.34px;
      cursor: pointer;
    }

    @include maxW(1023px) {
      gap: 20px;

      li,
      a {
        font-size: 1.2rem;
        letter-spacing: 0.24px;
      }
    }
  }

  &_store {
    a {
      text-decoration: underline;
      text-underline-offset: 6px;
    }

    @include maxW(1023px) {
      a {
        text-underline-offset: 2px;
      }
    }
  }

  &_lang {
    display: flex;
    gap: 15px;

    li {
      opacity: 0.3;

      &.--active {
        opacity: 1;
      }
    }

    @include maxW(1023px) {
      gap: 7px;
    }
  }
}
