/* Utils
------------------------------------------------------------*/

/* padding */
.u-pad {
  padding: 0 40px;

  @include maxW(1023px) {
    padding: 0 20px;
  }
}

/* only device */
.sp-only,
.is-hidden {
  display: none !important;
}

@include maxW(1023px) {
  .pc-only {
    display: none !important;
  }

  .sp-only {
    display: block !important;
  }
}
