/* Utils
------------------------------------------------------------*/
/* lang */
.lang-ja .lang-en,
.lang-en .lang-ja {
  display: none;
}
.lang-ja .lang-ja,
.lang-en .lang-en {
  display: block;
}

/* padding */
.u-pad {
  padding: 0 40px;

  @include maxW(1023px) {
    padding: 0 20px;
  }
}

/* lazy */
.lazy {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &.loaded {
    opacity: 1;
  }
}

/* only device */
.sp-only,
.is-hidden {
  display: none !important;
}

@include maxW(1023px) {
  .pc-only {
    display: none !important;
  }

  .sp-only {
    display: block !important;
  }
}
