/* variables
------------------------------------------------------------*/
$base-width: 1920px;

$main-fonts: "yu-mincho-pr6n", sans-serif;

//color common
$main-bg-cl: #fff;
$main-text-cl: #000;
$black-cl: #000;
$white-cl: #fff;
$gray-cl: #d3d3d3;

:root {
  --app-height: 100vh;
}
